body > div.screen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body > div.screen > header {
    font-weight: bold;
    text-align: center;
}

body > div.screen > footer {
    text-align: center;
}