/* Header */

body > #browse > header {
    padding-bottom: 1em;

    background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1) 75%, rgba(255,0,255,0));
}

body > #browse > header > #logo {
    margin-bottom: 1.5em;
}

body > #browse > header > .button {
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}

body > #browse > header > #client-count {
    margin-left: 1em;

    background-color: yellowgreen;
}

body > #browse > header > #client-count::after {
    content: ' clients';
}

body > #browse > header > #canvas-create {
    margin-left: 1em;

    background-color: tomato;

    cursor: pointer;
}

body > #browse > header > #user-login {
    margin-left: 1em;

    background-color: steelblue;

    cursor: pointer;
}

body > #browse > header > #user-logout {
    margin-left: 1em;

    background-color: steelblue;

    cursor: pointer;
}

body > #browse > header > #user-wait {
    margin-left: 1em;

    background-color: steelblue;

    cursor: pointer;
}

/* Main */

body > #browse > main {
    padding-top: 3em;
    padding-bottom: 3em;

    text-align: center;
}

@keyframes fade {
    0% {
        margin-top: 0;
        margin-bottom: 0;

        height: 0;

        opacity: 0;
    }
    100% {
        margin-top: 2rem;
        margin-bottom: 1rem;

        height: 1em;

        opacity: 1;
    }
}

body > #browse > main > span {
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    display: inline-block;

    font-size: 75%;

    margin-top: 2rem;
    margin-bottom: 1rem;

    color: gray;
}

body > #browse > main > div {
    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    padding-left: 1em;
    padding-right: 1em;
}

body > #browse > main > span::after {
    content: ' new canvases'
}

body > #browse > main > div > div {
    margin: 1em;

    border-radius: 0.5em;

    box-shadow: 0.25em 0.25em 1em rgba(0,0,0,0.2);

    cursor: pointer;

    overflow: hidden;
}

body > #browse > main > div > div > canvas {
    display: block;
}

body > #browse > main > div > div > div {
    font-size: 75%;

    padding: 0.5rem;

    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.025), rgba(0,0,0,0.075));

    text-align: center;
}

body > #browse > main > div > div > div > div.count {
    display: inline-block;
}

body > #browse > main > div > div > div > div.count.client {
    display: none;
}

body > #browse > main > div > div > div > div.count > span {
    display: inline-block;

    margin-left: calc(1em / 3);
    margin-right: calc(1em / 3);

    padding-left: 0.5em;
    padding-right: 0.5em;

    min-width: 1em;

    line-height: 1.5em;

    border-radius: 0.75em;

    color: white;
}

body > #browse > main > div > div > div > div.count.view > span {
    background-color: gray;
}

body > #browse > main > div > div > div > div.count.shape > span {
    background-color: gray;
}

body > #browse > main > div > div > div > div.count.client > span {
    background-color: gray;
}

body > #browse > main > div > div > div > div.count.reaction > span {
    background-color: gray;
}

body > #browse > main > div > div > div > div.count::after {
    display: inline-block;

    margin-left: calc(1em / 3);
    margin-right: calc(1em / 3);
}

body > #browse > main > div > div > div > div.count.view::after {
    content: 'views';

    color: gray;
}

body > #browse > main > div > div > div > div.count.shape::after {
    content: 'shapes';

    color: gray;
}

body > #browse > main > div > div > div > div.count.client::after {
    content: 'clients';

    color: gray;
}

body > #browse > main > div > div > div > div.count.reaction::after {
    content: 'reactions';

    color: gray;
}

/* Footer */

body > #browse > footer {
    padding-top: 1em;

    background-image: linear-gradient(rgba(255,0,255,0), rgba(255,255,255,1) 25%, rgba(255,255,255,1));
}

body > #browse > footer > a {
    cursor: pointer;

    color: blue;
}

body > #browse > footer > a::before {
    content: ' | ';

    color: black;

    cursor: default;
}

body > #browse > footer > a:first-child:before {
    content: none;
}