/* Header */

body > #browse > header {
    padding-bottom: 1em;

    background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1) 75%, rgba(255,0,255,0));
}

body > #browse > header > #count {
    margin-left: 1em;

    background-color: yellowgreen;
}

body > #browse > header > #create {
    margin-left: 1em;

    background-color: tomato;

    cursor: pointer;
}

body > #browse > header > #login {
    margin-left: 1em;

    background-color: steelblue;

    cursor: pointer;
}

body > #browse > header > #logout {
    margin-left: 1em;

    background-color: steelblue;

    cursor: pointer;
}

body > #browse > header > #google {
    display: inline-block;

    vertical-align: middle;

    margin-left: 1em;
}

/* Main */

body > #browse > main {
    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    padding-top: 3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 3em;
}

body > #browse > main > div {
    margin: 1em;

    border-radius: 0.5em;

    box-shadow: 0.25em 0.25em 1em rgba(0,0,0,0.2);

    cursor: pointer;
}

body > #browse > main > div > div {
    padding: 1em;

    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;

    background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.025), rgba(0,0,0,0.075));

    text-align: center;
}

/* Footer */

body > #browse > footer {
    padding-top: 1em;

    background-image: linear-gradient(rgba(255,0,255,0), rgba(255,255,255,1) 25%, rgba(255,255,255,1));
}