/* Screen */

body > #browse {
    background-color: lightgray;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0));
}

/* Header */

body > #browse > header {
    background-color: white;

    box-shadow: 0.25em 0.25em 1em rgba(0,0,0,0.2);
}

body > #browse > header > #logo {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1.5em;
}

body > #browse > header > *.button {
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}

@media screen and (max-width: 40em) {
    body > #browse > header > #logo {
        display: none;
    }
}

@media screen and (max-width: 35em) {
    body > #browse > header > #client-count {
        display: none;
    }
}

body > #browse > header > #client-count {
    margin-left: 0.5em;
    margin-right: 0.5em;

    background-color: lightgray;
}

body > #browse > header > #client-count::after {
    content: ' clients';
}

body > #browse > header > #canvas-create {
    margin-left: 0.5em;
    margin-right: 0.5em;

    background-color: gray;

    cursor: pointer;
}

body > #browse > header > #sort-canvas {
    margin-left: 0.5em;
    margin-right: 0.5em;

    background-color: gray;

    cursor: pointer;
}

/* Main */

body > #browse > main {
    min-height: calc(100vh - 9em);

    padding-top: 5em;
    padding-bottom: 1em;

    text-align: center;
}

@keyframes fade {
    0% {
        margin-top: 0;
        margin-bottom: 0;

        height: 0;

        opacity: 0;
    }
    100% {
        margin-top: 2rem;
        margin-bottom: 1rem;

        height: 1em;

        opacity: 1;
    }
}

body > #browse > main > span {
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    display: inline-block;

    font-size: 75%;

    margin-top: 2rem;
    margin-bottom: 1rem;

    color: gray;
}

body > #browse > main > div {
    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    padding-left: 1em;
    padding-right: 1em;
}

body > #browse > main > span::after {
    content: ' new canvases'
}

body > #browse > main > div > div {
    position: relative;

    margin: 1em;

    border-radius: 0.5em;

    background-color: white;

    box-shadow: 0.25em 0.25em 1em rgba(0,0,0,0.2);

    cursor: pointer;

    overflow: hidden;
}

body > #browse > main > div > div > canvas {
    display: block;
}

body > #browse > main > div > div > div.live {
    position: absolute;

    top: 0.5rem;
    right: 0.5rem;

    font-size: 75%;
}

body > #browse > main > div > div > div.live > div.count {
    display: inline-block;

    padding-left: 0.5em;
    padding-right: 0.25em;

    line-height: 1.5em;

    text-align: center;

    background-color: lightgray;
    background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2));

    box-shadow: 0.25em 0.25em 1em rgba(0,0,0,0.2);

    color: white;

    border-radius: 0.75em;
}

body > #browse > main > div > div > div.live > div.count.client {
    display: none;
}

body > #browse > main > div > div > div.live > div.count.client > span::after {
    content: ' clients';
}

body > #browse > main > div > div > div.live > div.count.client > img {
    display: inline-block;

    width: 1em;
    height: 1em;

    padding: 0.25em;

    vertical-align: top;

    filter: invert(1);
}

body > #browse > main > div > div > div.info {
    font-size: 75%;

    padding: 0.5rem;

    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.025), rgba(0,0,0,0.075));

    text-align: center;
}

body > #browse > main > div > div > div.info > div.count {
    display: inline-block;
}

body > #browse > main > div > div > div.info > div.count > span {
    display: inline-block;

    margin-left: calc(1em / 3);
    margin-right: calc(1em / 3);

    padding-left: 0.5em;
    padding-right: 0.5em;

    min-width: 1em;

    line-height: 1.5em;

    border-radius: 0.75em;

    color: white;
}

body > #browse > main > div > div > div.info > div.count.view > span {
    background-color: gray;
}

body > #browse > main > div > div > div.info > div.count.shape > span {
    background-color: gray;
}

body > #browse > main > div > div > div.info > div.count.client > span {
    background-color: gray;
}

body > #browse > main > div > div > div.info > div.count.reaction > span {
    background-color: gray;
}

body > #browse > main > div > div > div.info > div.count::after {
    display: inline-block;

    margin-left: calc(1em / 3);
    margin-right: calc(1em / 3);
}

body > #browse > main > div > div > div.info > div.count.view::after {
    content: 'views';

    color: gray;
}

body > #browse > main > div > div > div.info > div.count.shape::after {
    content: 'shapes';

    color: gray;
}

body > #browse > main > div > div > div.info > div.count.client::after {
    content: 'clients';

    color: gray;
}

body > #browse > main > div > div > div.info > div.count.reaction::after {
    content: 'reactions';

    color: gray;
}

/* Footer */

body > #browse > footer {
    background-color: gray;

    color: white;

    box-shadow: 0.25em 0.25em 1em rgba(0,0,0,0.2);
}

body > #browse > footer > a {
    cursor: pointer;

    color: lightgray;
}

body > #browse > footer > a:hover {
    color: white;
}

body > #browse > footer > a::before {
    content: ' | ';

    color: white;

    cursor: default;
}

body > #browse > footer > a:first-child:before {
    content: none;
}