/* Header */

body > #browse > header {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    height: 3em;

    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;

    line-height: 3em;

    overflow: hidden;

    background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1) 75%, rgba(255,0,255,0));
}

body > #browse > header > button {
    font-size: inherit;

    margin-left: 1em;

    border-width: 0;
    border-radius: 1.5em;
    
    outline: 0;
    
    padding-top: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0;

    line-height: 2em;

    background-color: tomato;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

    color: white;

    box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.2);

    cursor: pointer;
}

/* Main */

body > #browse > main {
    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    padding-top: 3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 3em;
}

body > #browse > main > div {
    margin: 1em;

    border-radius: 0.5em;

    box-shadow: 0.25em 0.25em 1em rgba(0,0,0,0.2);

    cursor: pointer;
}

body > #browse > main > div > div {
    padding: 1em;

    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;

    background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.025), rgba(0,0,0,0.075));

    text-align: center;
}

/* Footer */

body > #browse > footer {
    position: fixed;

    left: 0;
    right: 0;
    bottom: 0;

    height: 3em;

    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;

    line-height: 3em;

    overflow: hidden;

    background-image: linear-gradient(rgba(255,0,255,0), rgba(255,255,255,1) 25%, rgba(255,255,255,1));
}