/* Main */

body > #load > main {
    position: relative;

    min-width: 100%;
    min-height: 100%;
}

body > #load > main > #image {
    display: block;

    position: absolute;

    top: calc(50% - 1.5em);
    left: calc(50% - 1.5em);

    width: 3em;
    height: 3em;
}