/* Header */

body > #paint > header {
    z-index: 0;

    padding-left: 5em;
    padding-right: 5em;
}

/* Main */

body > #paint > main {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 1;
}
body > #paint > main > #canvas {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
body > #paint > main > #color {
    position: absolute;

    top: 1em;
    left: 1em;
}
body > #paint > main > #qrcode {
    position: absolute;

    top: 1em;
    right: 1em;
}
body > #paint > main > #qrcode > * {
    max-width: 15vw;
    max-height: 15vh;
}

/* Footer */

body > #paint > footer {
    z-index: 0;
}