body > #paint {
    overflow: hidden;
}

/* Header */

body > #paint > header {
    z-index: 0;

    padding-left: 5em;
    padding-right: 5em;
}

/* Main */

body > #paint > main {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 1;
}

body > #paint > main > #active {
    position: absolute;

    top: 1em;
    left: 17em;

    padding-left: 1em;
    padding-right: 1em;

    white-space: nowrap;

    min-width: 1em;

    text-align: center;

    line-height: 3em;

    text-align: center;

    background-color: white;

    box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.2);

    border-radius: 1.5em;
}

body > #paint > main > #active::before {
    content: "Clients: ";
}

@media screen and (max-width: 29em) {
    body > #paint > main > #active {
        display: none;
    }
}

body > #paint > main > #canvas {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body > #paint > main > #tool {
    position: absolute;

    top: 1em;
    left: 4.5em;
}

body > #paint > main > #tool > span {
    float: left;

    margin: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
}

body > #paint > main > #color {
    position: absolute;

    top: 4em;
    left: 1em;
}
body > #paint > main > #color > .color {
    display: block;

    margin: 0.5em;
    margin-top: 1em;

    width: 2em;
    height: 2em;

    border-radius: 1.5em;

    background-image: radial-gradient(farthest-corner at 66% 33%, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.0));

    box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.2);

    cursor: pointer;
}
body > #paint > main > #color > .active {
    margin: 0;
    margin-top: 1em;

    width: 3em;
    height: 3em;
}

body > #paint > main > #share {
    display: block;
    
    position: absolute;
    
    top: 1em;
    right: 1em;
    
    padding: 1em;
    
    width: 1em;
    height: 1em;
    
    border-radius: 1.5em;
    
    background-color: white;
    background-size: 1em 1em;
    background-position: center center;
    background-repeat: no-repeat;
    
    box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.2);
    
    cursor: pointer;
}

body > #paint > main > #share-popup {
    position: absolute;
    top: 1em;
    right: 1em;
    border-radius: 1.5em;
    background-color: white;
    box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.2);
    display: none;
}

body > #paint > main > #share-popup > img {
    position: absolute;
    top: 0;
    right: 0;
    width: 1em;
    height: 1em;
    padding: 1em;
    border-radius: 1.5em;
    cursor: pointer;
}

body > #paint > main > #share-popup > input {
    display: block;
    font-size: inherit;
    line-height: 100%;
    border: 0;
    outline: 0;
    padding: 1em;
    padding-right: 4em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 1.5em;
    margin: 0;
}

body > #paint > main > #share-popup > div {
    position: relative;
    width: calc(100% - 2em);
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 0.5em;
    background-color: palegoldenrod;
    text-align: center;
}

body > #paint > main > #share-popup > div::before {
    content: '';
    
    display: block;

    position: absolute;

    top: -0.5em;
    left: calc(50% - 0.5em);

    width: 1em;
    height: 1em;

    transform: rotate(45deg);

    background-color: palegoldenrod;
}

body > #paint > main > #share-popup > canvas {
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

body > #paint > main > #reaction {
    position: absolute;
    bottom: 1em;
    left: 0 ;
    right: 0;
    text-align: center;
} 

body > #paint > main > #reaction > span {
    position: relative;

    display: inline-block;

    width: 1em;
    height: 1em;

    padding: 1em;

    background-color: white;

    border-radius: 1.5em;

    box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.2);

    margin-left: 0.5em;
    margin-right: 0.5em;

    cursor: pointer;
}

body > #paint > main > #reaction > span > span:first-child {
    position: absolute;
    
    display: block;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

body > #paint > main > #reaction > span > span:last-child {
    position: absolute;
    display: block;
    width: 1rem;
    text-align: center;
    border-radius: 50%;
    line-height: 1rem;
    font-size: 75%;
    top: 0;
    right:0;
    box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.2);
    background-image: radial-gradient(farthest-corner at 66% 33%, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.0));
    color: white;
    background-color: gray;
}

/* Footer */

body > #paint > footer {
    z-index: 0;
}
