body {
    margin: 0;
    user-select: none;
    font-family: sans-serif;
}
body > header {
    position: absolute;
    top: 1em;
    left: 5em;
    right: 5em;
    text-align: center;
    font-weight: bold;
}
body > footer {
    position: absolute;
    left: 1em;
    right: 1em;
    bottom: 1em;
    text-align: center;
}
body > canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
body > input {
    position: absolute;
    top: 1em;
    left: 1em;
}
body > div {
    position: absolute;
    top: 1em;
    right: 1em;
}
body > div > * {
    max-width: 15vw;
    max-height: 15vh;
}