@import url(./screens/base.css);
@import url(./screens/load.css);
@import url(./screens/error.css);
@import url(./screens/browse.css);
@import url(./screens/paint.css);
@import url(./screens/imprint.css);
@import url(./screens/data.css);
@import url(./screens/terms.css);

body {
    margin: 0;
    user-select: none;
    font-family: sans-serif;
    line-height: 100%;
}

h1 {
    font-size: 150%;
    line-height: 120%;
    margin: 0;
    padding-top: calc((5rem - 1.2em) / 2);
    padding-bottom: calc((5rem - 1.2em) / 2);
}
h2 {
    font-size: 125%;
    line-height: 120%;
    margin: 0;
}
h3 {
    font-size: 100%;
    line-height: 120%;
    margin: 0;
}

p {
    font-size: 100%;
    line-height: 120%;
    margin: 0;
}
p + p {
    margin-top: 1em;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

img.load {
    animation-name: rotation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

img.back {
    display: block;

    position: absolute;

    top: 1em;
    left: 1em;

    width: 1em;
    height: 1em;

    padding: 1em;

    border-radius: 1.5em;

    background-color: white;

    box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.2);

    cursor: pointer;
}

*.button {
    display: inline-block;

    font-size: inherit;

    border-width: 0;
    border-radius: 1.5em;
    
    outline: 0;
    
    padding-top: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0;

    line-height: 2em;

    background-color: rgb(128, 128, 128);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

    color: white;

    font-weight: normal;

    box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.2);
}