@import url(./screens/base.css);
@import url(./screens/browse.css);
@import url(./screens/paint.css);

body {
    margin: 0;
    user-select: none;
    font-family: sans-serif;
    line-height: 100%;
}